body {
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Table styles - mainly to disable standard Drupal styles */
table {
	width: 100%;
}

tr.odd, tr.even, td.active {
	background: none;
	border: none;
}

/* Pagination styles */

ul.pagination {
	margin-bottom: 2em;
}

/*
.content ul > li {
	list-style-type: disc;
}
*/

#site-name {
font-size: 46px;
font-size: 4.6rem;
margin-bottom: 0px;
line-height: 1.25;
}

#site-slogan {

}

#secondary {
	float: right;
}

#logo {
	float: left;
	margin-right: 1.4em;
}

/* admin */

.admin-list dd {
	margin-bottom: 0.8em;
}

/* fixes */

/* display the input filter form label block not inline */
.filter-wrapper .form-item label {
	display: block;
	margin-bottom: 1em;
}

/* seperate the submit buttons */
.form-submit {
	margin-right: 1em;
}

/* Breadcrumbs */
#breadcrumb {
	margin-top: 1em;
}

/* Node styles */

.submitted {
	margin-bottom: 2em;
	font-size: smaller;
}

.row {
	max-width: 1200px;
}

